{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div  class=" ">
    <div onclick="fun()" class="d-flex text-center bg-blue"> on click
    <div id="company"></div>
    <div id="code"></div>

    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script type="text/javascript"> 
    function fun(){
            var company = "{{ company }}";
            var code = "{{ code }}";
            console.log(company)
            console.log(code)
            document.getElementById("comapny").innerHTML = company;
            document.getElementById("code").innerHTML = code;
        }
 </script>
{% endblock javascripts %}
