{% extends 'layouts/base.html' %}

{% block title %} Line {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content_1 %}
    <!-- Header -->

    
    {% include "Line.html" %}


          <div class="card-body">
                <div class="col-lg-3 col-md-6">
                    <div>
                        {{ company }}
                        {{ code }}
                    </div>
                </div>
            </div>
{% endblock content_1 %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
