{% extends 'layouts/base.html' %}

{% block title %} Histo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
   

    {% include "0.html" %}
    {% include "Histo.html" %}

          <!-- <div class="card-body">
                <div class="col-lg-3 col-md-6">
                    <div>
                    </div>
                </div>
            </div> -->
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
